<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-calm">

  <!-- Dashboard Tab -->
  <ion-tab title="Luminosity" icon-off="ion-android-bulb" icon-on="ion-android-bulb" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Temperature" icon-off="ion-thermometer" icon-on="ion-thermometer" href="#/tab/thermometer">
    <ion-nav-view name="tab-thermometer"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Settings" icon-off="ion-android-options" icon-on="ion-android-options" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
